pydantic
python-dotenv==1.0.1
fastapi
uvicorn
python-multipart
httptools
opencv-python
torch
torchvision
scikit-learn
ultralytics
numpy
matplotlib
# Use paddlepaddle-gpu for GPU support, paddlepaddle for CPU only
paddlepaddle-gpu  
paddleocr
transformers
accelerate
Pillow
sentencepiece
protobuf