pydantic
python-dotenv==1.0.1
fastapi
uvicorn
python-multipart
httptools
opencv-python
torch
torchvision
scikit-learn
ultralytics
numpy
matplotlib
paddlepaddle
paddleocr
transformers
accelerate
Pillow
sentencepiece
protobuf